Checks: ' -*, bugprone-*, cert-*, clang-analyzer-core.*, clang-analyzer-cplusplus.*, clang-analyzer-security.*, cppcoreguidelines-pro-bounds-pointer-arithmetic, cppcoreguidelines-pro-type-cstyle-cast, hicpp-*, modernize-concat-nested-namespaces '
WarningsAsErrors: 'bugprone-*,cert-*,clang-analyzer-*,hicpp-*'
CheckOptions:
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 1 # This allows us to make interfaces that have virtual destructor without the other functions
